[submodule "jest/src"]
	path = jest/src
	url = https://github.com/akamai/edgeworkers-examples/
[submodule "mocha/src"]
	path = mocha/src
	url = https://github.com/bmatthew/edgeworkers-examples/
	branch = mocha-framework
